

<form>
    <h1>Login</h1>
    <div class="content">
      <div class="input-field">
        <input type="email" placeholder="Email" autocomplete="nope" class="ip" id="em">
      </div>
      <br>
      <br>
      <div class="input-field">
        <input type="password" placeholder="Password" autocomplete="new-password" class="ip" id="pw"
        >
      </div>
      <br>
      <a href="#" class="link">Forgot your Password</a>  
    </div>
    <br>
    <div class="action">
    
      <!-- <button (click)="opennew($event)">Sign in</button> -->
      <button type="button" class="btn btn-primary" >Login</button>

      <!-- <a routerLink="/home" > Register</a> -->
      <!-- <router-outlet> </router-outlet> -->
    </div>
  </form> 
